<div class="app_home__layout">
    <div class="card">
        <div class="card-header">
          Welcome
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="./assets/images/my-own-logo.jpg"
                   class="img-responsive center-block"/>
            </div>
    
            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Jeffrey Grospe</h3>
            </div>
    
            <div class="text-center">@jgrospe92</div>
            <div class="text-center">
              <a href={{githubLink}}>github</a>
            </div>
          </div>
        </div>
      </div>
</div>